*:not(i) {
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    background: none;
    padding: 0;
}

input,
button:focus {
    outline: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
    outline: none;
}

.gab-15 {
    clear: both;
    height: 15px;
}

.grey-color {
    color: #666;
}
.bg-grey {
    background-color: #f1f1f1;
}
.bg-lite {
	background-color: rgb(249 201 28 / 20%);
}
.bg-blue {
	background-color: rgb(17 92 173 / 15%);
}
.text-grey {
	color: #666 !important;
}
.text-blue {
	color: #115cad !important;
}

.no-padding {
    padding: 0 !important;
}
.mb-30 {
    margin-bottom: 30px;
}

.sec-padding {
    padding: 50px 0;
}
.sec-padding-top {
    padding-top: 50px;
}
.sec-padding-bottom {
    padding-bottom: 50px;
}

.sec-margin {
    margin: 70px 0;
}
.sec-margin-top {
    margin-top: 70px;
}
.sec-margin-bottom {
    margin-bottom: 70px;
}

.table thead th {
    white-space: nowrap;
}

/** main btn **/
.main-btn {
    display: inline-block;
    border: 2px solid #ffffff;
    border-radius: 8px;
    color: #ffffff;
    font-size: 18px;
    padding: 12px 50px;
    cursor: pointer;
}

.main-btn.dark {
    background: #115cad;
    border: 2px solid #115cad;
    color: #fff;
}

.main-btn:hover {
    background-color: #ffffff;
    color: #333;
    border-color: #fff;
}

.main-btn.dark:hover {
    border-color: #115cad;
	color: #115cad;
}

/** section title **/
.section-title {
    position: relative;
    text-align: left;
}

.section-title h2 {
    font-weight: bold;
    font-size: 32px;
}

.section-title p {
    max-width: 770px;
    margin: auto;
    color: #555;
    font-style: italic;
    font-size: 18px;
    margin-top: 30px;
}

.title-part {
/*    font-size: 38px;*/
    line-height: 35px;
    font-weight: 700;
    color: #333;
    margin-bottom: 25px;
    position: relative;
    display: block;
}

.title-part:before {
    content: "";
    position: absolute;
    background: #777;
    height: 4px;
    width: 50px;
    left: 0;
    bottom: -8px;
    display: block;
    z-index: 1;
}


/** Scroll To Top **/
#scroll-top {
    display: block;
    position: fixed;
    right: 17px;
    bottom: 23px;
    margin: 0;
    width: 50px;
    height: 50px;
    z-index: 10000;
	border-radius: 5px;
    color: #fbfbfc;
    text-align: center;
    background-color: #115cad;
    cursor: pointer;
    display: none;
}

#scroll-top span {
    display: block;
    position: absolute;
    top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
    line-height: inherit;
    font-size: 16px;
}

/** section title **/
.section-title {
    text-align: left;
    margin-bottom: 40px;
}

.section-title h1 {
    margin-bottom: 13px;
    font-weight: 400;
    color: #303030;
}

.section-title p {
    color: #777;
}

.dropdown .droplist {
    width: 160px;
    min-width: 240px;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 100%;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 17%);
            box-shadow: 0 6px 12px rgb(0 0 0 / 17%);
    border-radius: 3px;
    background: #fff;
    z-index: 9;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.dropdown .droplist li {
	position: relative;
    color: #333;
    padding: 8px 0;
    border-bottom: 1px solid #77777717;
}

.dropdown .droplist li:last-child {
    border-bottom: 0;
}

.dropdown:hover .droplist {
    visibility: visible;
    opacity: 1;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}


/***
	top bar
***/
.top-bar {
	background: #57595b;
    border-bottom: 1px solid #eee;
    padding: 14px 0;
}
.top-bar .nav li {
	padding: 0 25px;
    border-right: 1px solid #999;
}
.top-bar .nav li:last-child {
	border-right: 0;
}
.top-bar .nav li a {
    color: #fff;
	-webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.top-bar .nav li a:hover {
	color: #f9c91c
}

/*** Header ***/
header {
    position: relative;
    z-index: 99;
    background: #fff;
    margin: auto;
}

header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100px;
}

header nav .logo img {
    width: 150px;
}

header nav .bars {
    cursor: pointer;
    display: none;
}

header nav .links-list {
/*    margin-left: auto;*/
}

header nav .links-list > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

header nav .links-list > ul .list-item {
    margin-right: 30px;
    position: relative;
    padding: 38px 0;
}

header nav .links-list > ul .list-item:last-child {
    margin-right: 0;
}

header nav .links-list > ul .list-item .link {
    color: #57595b;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
    position: relative;
    padding-bottom: 3px;
    font-size: 15px;
    text-transform: uppercase;
}

header nav .links-list > ul .list-item .link:before {
    content: "...";
    position: absolute;
    left: 0;
    bottom: -10px;
    font-weight: 300;
    font-size: 25px;
    color: #f9c91c;
    line-height: 1;
    opacity: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

header nav .links-list > ul .list-item .link:hover {
    color: #989898;
}

header nav .links-list > ul .list-item.dropdown .link i,
header nav .links-list > ul .list-item.dropdown .droplist .sub-link i {
    font-size: 10px;
    margin-left: 3px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

header nav .links-list > ul .list-item.dropdown:hover .link > i {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

header nav .links-list > ul .list-item img {
    width: 35px;
}

header nav .links-list > ul .list-item .link.active-link,
header nav .links-list > ul .list-item:hover .link {
    font-weight: bold;
    color: #f9c91c;
}

header nav .links-list > ul .list-item .link.active-link:before,
header nav .links-list > ul .list-item:hover .link:before {
    opacity: 1;
}

header nav .links-list > ul .list-item .drop-list {
    background: #fff;
    padding: 10px;
    position: absolute;
    top: 100%;
    z-index: 2;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

header nav .links-list > ul .list-item .drop-list li {
    width: 150px;
    padding: 8px;
}

header nav .links-list > ul .list-item .drop-list li a {
    display: block;
}

header nav .links-list > ul .list-item li a {
	font-size: 15px;
    white-space: nowrap;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

header nav .links-list > ul .list-item li a:hover {
    color: #f9c91c;
}
header nav .links-list > ul .list-item .droplist > li .sub-menu {
	position: absolute;
    top: 0;
    left: 100%;
    background: #f1f1f1;
    min-width: 210px;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 17%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 17%);
    border-radius: 3px;
    padding: 0 12px;
	-webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
header nav .links-list > ul .list-item .droplist > li:hover .sub-menu {
	-webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
	visibility: visible;
	opacity: 1;
}
header nav .lang-btn a {
    display: inline-block;
    background: #115cad;
    line-height: normal;
    color: #ffffff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 30px;
    text-transform: uppercase;
}

header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-animation-name: stickyheader;
    animation-name: stickyheader;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    width: 100%;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

@-webkit-keyframes stickyheader {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-60px);
        transform: translateY(-60px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes stickyheader {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-60px);
        transform: translateY(-60px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}


header nav .links-list > ul .list-item:hover .drop-list {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}


/***
    main slider 
***/
.main-slider {
    position: relative;
}

.main-slider .banner-slides .banner-title,
.main-slider .banner-slides .banner-top-title,
.main-slider .banner-slides .banner-top-title small {
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
}

.main-slider .banner-slides .active .banner-title,
.main-slider .banner-slides .active .banner-top-title {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

.main-slider .banner-slides .active .banner-btn {
    border: 2px solid #ffffff;
    border-radius: 8px;
    color: #ffffff;
    font-size: 18px;
    padding: 12px 50px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.main-slider .banner-slides .banner-btn {
    display: inline-block;
    vertical-align: middle;
    color: #FFFFFF;
    font-size: 18px;
    padding: 19.5px 50px;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    margin-top: 20px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
}

.main-slider .banner-slides .banner-btn:hover {
    background-color: #ffffff;
    color: #333;
}

.main-slider .banner-slides .slide {
    padding: 150px 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 575px;
}

.main-slider .banner-slides .slide:before {
    background-color: rgba(29, 41, 62, 0.6);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.main-slider .carousel-btn-block {
    cursor: pointer;
    position: absolute;
    top: 37%;
    width: 100%;
    z-index: 9;
}

.main-slider .carousel-btn-block .carousel-btn {
    border: 1px solid #ffffff;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 82px;
    width: 42px;
    line-height: 82px;
    text-align: center;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    vertical-align: middle;
    z-index: 9;
}

.main-slider .carousel-btn-block .carousel-btn:hover {
    background-color: #ffffff;
    color: #333;
    opacity: 1;
}

.main-slider .carousel-btn-block .carousel-btn.right-btn {
    position: absolute;
    right: 30px;
}

.main-slider .carousel-btn-block .carousel-btn.left-btn {
    position: absolute;
    left: 30px;
}

.main-slider .owl-theme .owl-nav {
    display: none;
}

.main-slider .owl-theme .owl-dots {
    position: absolute;
	top: 50%;
    right: -20%;
    left: auto;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.main-slider .main-banner-wrapper:hover .owl-theme .owl-dots {
	right: 15px;
}
.main-slider .owl-theme .owl-dots .owl-dot span {
	border-radius: 50%;
	display: block;
    position: relative;
    -webkit-box-shadow: inset 5px 5px 10px 0px rgb(0 0 0 / 25%);
    box-shadow: inset 5px 5px 10px 0px rgb(0 0 0 / 25%);
    width: 44px;
    height: 44px;
    background-size: cover;
    background-position: center center;
}
.main-slider .owl-theme .owl-dots .owl-dot:nth-child(1) span {
    background-image: url(../img/slider/1.jpg);
}
.main-slider .owl-theme .owl-dots .owl-dot:nth-child(2) span {
    background-image: url(../img/slider/2.jpg);
}
.main-slider .owl-theme .owl-dots .owl-dot:nth-child(3) span {
    background-image: url(../img/slider/3.jpg);
}
.main-slider .owl-theme .owl-dots .owl-dot.active span,
.main-slider .owl-theme .owl-dots .owl-dot:hover span {
	border: 3px solid #f9c91c;
}

.main-slider .adv-search {
    position: relative;
    top: -52px;
}

.main-slider .adv-search .search-form {
    background-color: rgb(17 92 173 / 85%);
    border-radius: 8px;
    padding: 30px 20px;
    position: relative;
    z-index: 9;
}

.main-slider .adv-search .search-form:before {
    background-color: rgb(17 92 173 / 22%);
    border-radius: 8px;
    bottom: -10px;
    content: "";
    left: -10px;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: -1;
}

.main-slider .adv-search .search-form .form-group {
    margin-bottom: 0;
}

.main-slider .adv-search .search-form .form-group .form-control {
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    font-size: 14px;
    color: #484848;
    line-height: 1.2;
    height: 45px;
}

.main-slider .adv-search .search-form .form-group .main-btn {
    width: 100%;
    height: 45px;
    line-height: 1.1;
}

/***
	choose-us-section
***/
.choose-us-section .choose-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background: rgb(249 201 28 / 14%);
	padding: 20px 40px;
}
/*
.choose-us-section .choose-content.two {
	padding-left: 0;
	padding-right: 20px;
}
*/
.choose-us-section .choose-content h6 {
	font-style: italic;
    font-size: 15px;
    color: #999;
    font-family: serif;
}

/***
	courses-section
***/
.courses-section .course-card {
	margin-bottom: 20px;
	border: 0;
}
.courses-section .course-card .card-body {
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}
.courses-section .course-card .card-img {
	overflow: hidden;
}
.courses-section .course-card .card-img img {
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}
.courses-section .course-card .card-img .card-label {
	position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    background-color: #f9c91c;
    padding: 4px 15px;
    color: #fff;
    border-radius: 4px;
}
.courses-section .course-card .course-info {
	font-family: serif;
	font-size: 14px;
    line-height: 1.4em;
    font-weight: 300;
    font-style: italic;
    color: #272727;
	margin-bottom: 7px;
}
.courses-section .course-card .card-body p {
	color: #666;
}
.courses-section .course-card:hover .card-body {
	background-color: rgb(17 92 173 / 12%);
}
.courses-section .course-card:hover .card-img img {
	-webkit-transform: rotate(4deg) scale(1.1);
	    -ms-transform: rotate(4deg) scale(1.1);
	        transform: rotate(4deg) scale(1.1);
}

/***
	careers-section
***/
.careers-section .career-card {
	margin-bottom: 20px;
	border: 0;
/*	display: flex;*/
}
.careers-section .career-card .career-info {
	font-family: serif;
    line-height: 1.4em;
    font-weight: 300;
    font-style: italic;
	margin-bottom: 7px;
}

/***
	gallery section
***/
.gallery-section .element-item {
	margin-bottom: 20px;
}
.gallery-section .gallery-img {
	position: relative;
}
.gallery-section .gallery-img .overlay {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #115cad61;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #f9c91c;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.gallery-section .gallery-img .overlay i {
	display: block;
    border: 1px solid #f9c91c;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
.gallery-section .gallery-img:hover .overlay {
	opacity: 1;
	visibility: visible;
}
.gallery-section .gallery-card .gallery-title {
	text-align: center;
    width: 87%;
    padding: 30px 10px;
    margin: auto;
    margin-top: -25px;
    background-color: #fff;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 12%);
            box-shadow: 0 0 10px rgb(0 0 0 / 12%);
}
.gallery-section .button-group button {
	border: 1px solid #57595b;
    color: #57595b;
    padding: 10px 40px;
    border-radius: 22px;
    margin-right: 12px;
    cursor: pointer;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.gallery-section .button-group button:last-child {
	margin-right: 0;
}
.gallery-section .button-group button.is-checked,
.gallery-section .button-group button:hover {
	background: #57595b;
    color: #fff;
}

/***
	accr section
***/
.accr-section .accr-img {
	border-radius: 10px;
	overflow: hidden;
}

/*** main form ***/
.main-form label {
    display: block;
}
.main-form input, .main-form textarea, .main-form select {
    width: 100%;
    height: 45px;
	font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 0 20px;
    outline: none;
}
.main-form textarea {
    height: 5rem;
    padding: 10px 20px;
}
.main-form .submit button {
    cursor: pointer;
}

/***
	contact section
***/
.contact-section .main-form {
	padding-left: 30px;
}
.contact-map {
    margin-top: 50px;
}
.contact-map .mapouter {
    width: 100%;
}
.contact-map .mapouter .gmap_canvas {
    width: 100%;
}
.contact-map .mapouter iframe {
    width: 100%;
}


/***
    Footer
***/
footer {
    padding: 50px 0 20px;
    background: #fff;
    color: #777;
}
footer .footer-content {
    padding-bottom: 25px;
}
footer .footer-logo img {
    width: 130px;
	height: 125px;
	object-fit: contain;
	-o-object-fit: contain;
    margin-bottom: 20px;
}
footer .footer-title h5 {
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}
footer .footer-col li {
    margin-bottom: 10px;
}
footer .footer-col li > a {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
footer .footer-col li > a:hover {
    color: #115cad;
}
footer .contact-list li i {
    color: #333;
    width: 24px;
}
footer .news-text a:hover {
    color: #ccc;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
footer .news-text span {
    display: block;
    font-size: 13px;
    color: #333;
    margin-top: 10px;
}
footer .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 10px;
}
footer .footer-bottom .copyrights p a {
    color: #115cad;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
footer .footer-bottom .copyrights p a:hover {
    color: #115cad;
}
footer .footer-bottom .footer-social .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
footer .footer-bottom .footer-social .social-list li {
    margin-left: 20px;
}
footer .footer-bottom .footer-social .social-list li a:hover {
    color: #115cad;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

/***
    banner area
***/
.banner-area {
	position: relative;
    background-image: url(../img/page-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 8rem 2rem;
}
.banner-area:before {
	background-color: rgb(17 92 173 / 50%);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.banner-area h1 {
    letter-spacing: 1.8px;
	font-size: 70px;
}

/***
	accr-content-section
***/
.accr-content-section .accr-content-img {
	border: 1px solid #ddd;
}
.accr-content-section hr {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

/***
	course-desc-section
***/
.course-desc-section .filter-by .filter-btn {
	border-color: #115cad;
	background-color: #115cad;
	color: #fff;
}
.course-desc-section .filter-by .filter-btn.collapsed {
	border-color: #115cad;
	color: #115cad;
	background-color: #fff;
}
.course-desc-section .filter-by .filter-btn:hover {
	background-color: #115cad;
	color: #fff;
}
.course-desc-section .course-table {
	overflow-x: auto;
}
.course-desc-section .main-form {
	border-radius: 5px;
}


/***
    page details Section
***/
.page-details-area .course-details-slider .owl-theme .owl-nav [class*=owl-] {
    width: 50px;
    height: 50px;
    line-height: 35px;
    font-size: 35px;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    background: #D6D6D6;
    opacity: .5;
    z-index: 9;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.page-details-area .course-details-slider .owl-theme .owl-nav [class*=owl-]:hover {
    opacity: 1;
}
.page-details-area .course-details-slider .owl-theme .owl-nav .owl-next {
    right: 0;
}
.page-details-area .course-details-slider .owl-theme .owl-nav .owl-prev {
    left: 0;
}
.page-details-area .course-details-content {
    margin-top: 40px;
}
.page-details-area .course-details-content .cdetails-desc {
    margin-bottom: 30px;
}
.page-details-area .course-details-content .cdetails-desc .desc {
    color: #666;
}

/***
    mission area
***/
.mission-area {
    background: #f7f9fd;
}
.mission-area .left-content img {
	height: 600px;
	-o-object-fit: cover;
	object-fit: cover;
}
.mission-area .right-content {
    padding: 60px;
}
.mission-area .right-content p {
    color: #626c84;
    line-height: 30px;
}
.column-title {
    font-size: 36px;
    line-height: 50px;
    margin: 0 0 20px;
    font-weight: bold;
}
.column-title span {
    font-size: 24px;
    line-height: 34px;
    margin: 0 0 10px 0;
    display: block;
    font-weight: 400;
    color: #626c84;
}


/**
    Responsive
**/
@media(max-width: 1199px) {
	
}

@media(min-width: 992px) {
	.careers-section .career-card .card-body {
		padding-left: 35px;
	}
}
	
@media(max-width: 991px) {

    /* header */
    header nav .bars {
        display: block;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    header nav .links-list {
        display: none;
        background: #fff;
        padding: 30px;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        border-radius: 8px;
		-webkit-box-shadow: rgb(0 0 0 / 12%) 0px 2px 10px;
			box-shadow: rgb(0 0 0 / 12%) 0px 2px 10px;
    }
    header nav .links-list > ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    header nav .links-list > ul .list-item {
        margin: 5px 0;
    }
    header nav .links-list > ul .list-item:last-child {
        width: 218px;
    }
    .dropdown .droplist {
        width: 100%;
    }
    header nav .links-list > ul .list-item {
        padding: 0 0 5px;
    }
	header nav .links-list > ul .list-item .droplist > li .sub-menu {
		width: 100%;
		top: 100%;
		left: 0;
		z-index: 99;
	}
	header nav .lang-btn {
		margin-left: auto;
		margin-right: 15px;
	}
    .main-slider .adv-search {
        top: 0;
        margin-top: 40px;
    }
    .main-slider .adv-search .search-form {
        padding: 20px 15px 10px;
    }
    .main-slider .adv-search .search-form .form-group {
        margin-bottom: 20px;
    }
	.gallery-section .gallery-card .gallery-title {
		padding: 20px 10px;
	}
	.contact-section .main-form {
		padding-left: 0;
		margin-top: 30px;
	}
	.mission-area .left-content img {
		height: 400px
	}
}

@media(max-width: 767px) {
	h1 {font-size: 2rem;}
    .main-btn {
        font-size: 15px;
        padding: 10px 35px;
    }

    .section-title h2 {
        font-size: 21px;
    }

    .section-title p {
        font-size: 14px;
    }

    .title-part {
/*        font-size: 28px;*/
        line-height: normal;
    }
	.top-bar .nav {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.top-bar .nav li {
		padding: 0 17px;
	}

    .main-slider .carousel-btn-block .carousel-btn {
        display: none;
    }

    .main-slider .owl-theme .owl-dots {
        display: block;
        bottom: 20px;
        text-align: center;
    }

    .main-slider .banner-slides .banner-title,
    .main-slider .banner-slides .banner-top-title,
    .main-slider .banner-slides .banner-top-title small {
        font-size: 30px;
    }

    .main-slider .banner-slides .active .banner-btn {
        font-size: 15px;
        padding: 10px 35px;
    }
	.main-slider .owl-theme .owl-dots {
		margin: 0;
		position: absolute;
		bottom: 20px;
		left: 50%;
		top: auto;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		width: 100%;
		max-width: 1170px;
		text-align: center;
	}
	.gallery-section .button-group button {
		padding: 6px 16px;
	}

    #scroll-top {
        width: 45px;
        height: 45px;
    }
    #scroll-top span:last-child {
        font-size: 11px;
    }
	.banner-area h1 {
		font-size: 35px;
	}
	.mission-area .right-content {
        padding: 15px;
    }
	.mission-area .left-content img {
		height: 350px;
	}
	.choose-us-section .choose-content {
		padding: 20px;
	}
}

@media(max-width: 575px) {
	header nav .lang-btn a {
		padding: 7px 23px;
	}
	header nav .links-list > ul .list-item li a {
		white-space: normal;
	}
	.main-slider .banner-slides .slide {
		height: 490px;
	}
	.main-slider .banner-slides .banner-title, .main-slider .banner-slides .banner-top-title, .main-slider .banner-slides .banner-top-title small {
		font-size: 25px;
	}
	footer .footer-bottom {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.mission-area .left-content img {
		height: 300px;
	}
}